{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="py-5 text-center">
            <h2>Catalog Item Manager</h2>
            <p class="lead">Manage your catalog's item</p>
        </div>

        <div class="row">
            <div class="col-md-8 order-md-1 mb-4">
                <h4 class="mb-3 text-muted">{{ item.name }}</h4>
                <form action="{{ url_for('edit_item', item_id=item.id) }}" method="POST" class="needs-validation" novalidate="">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name" value="{{ item.name }}" required="required">
                                <div class="invalid-feedback">
                                Catalog Item must have a name.
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="description">Description</label>
                            <textarea class="form-control" name="description" rows="6" maxlength="140" id="description" required="required">{{ item.description }}</textarea>
                            <div class="invalid-feedback">
                                Catalog Item must have a description
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="description">Category</label>
                            <select class="form-control" name="catalog" id="catalog" required="required">
                                {% for catalog in catalogs %}
                                    <option value="{{ catalog.id }}" {% if item.catalog_id == catalog.id %}selected{% endif %}>{{ catalog.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Item must have a Catalog selected
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
                </form>
            </div>
            <div class="col-md-4 order-md-2">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Recent</span>
                    <span class="badge badge-secondary badge-pill">{{ items|length }}</span>
                </h4>
                <ul id="sortable" class="list-group mb-3">
                    {% for item in items %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">{{ item.name }}</h6>
                                <small class="text-muted">Catalog: {{ item.catalog.name }}</small>
                                <p>
                                    <span class="text-default"><small>{{ item.description }}</small></span>
                                </p>
                            </div>
                            <span class="text-danger">
                                <small>
                                    <form action="{{ url_for('delete_item, item_id=item.id) }}" method="POST" class="needs-validation" novalidate="">
                                        <button type="submit" class="btn btn-text">Delete</button>
                                    </form>
                                </small>
                            </span>
                        </li>
                    {% else %}
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">You have not created any Catalog Item</h6>
                            <small class="text-muted">Catalog: </small>
                        </div>
                        <span class="text-success"><small>Created - n/a</small></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
